<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZ6IyDtVHPBo-ASjLIzZAQ80uKFckaQaI</string>
	<key>GCM_SENDER_ID</key>
	<string>999635431134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.personal.socialmediaprofile</string>
	<key>PROJECT_ID</key>
	<string>social-media-profile-b0395</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-profile-b0395.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999635431134:ios:3680e6952d4b5d33311c4f</string>
</dict>
</plist>